:root {
  --color-white: #FFFFFF;
  --color-text: #0A1A1FB2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
}

html {
  @media(max-width: 1600px) {
    font-size: 80%;
  }

  @media(max-width: 800px) {
    font-size: 65%;
  }
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

body, button, input {
  font-family: 'Montserrat', 'Inter',  sans-serif;
}

button, input {
  border: 0;
}

#Layout {
  display: flex;
  flex-direction: column;
}