#Home {
  padding: 5rem;
  display: flex;
  gap: 3rem;
  background-image: url('../../assets/images/background.png');
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-image: linear-gradient(90deg, #0DACEE33 -27.72%, #08D96833 134.24%);
  //   z-index: -1;
  // }
  

  > div {
    > h1 {
      font-size: 72px;
      margin-bottom: 2rem;
      line-height: 135%;
      letter-spacing: 0.01em;
      color: rgba(10, 26, 31, 0.87);

      > strong {
        background-image: linear-gradient(90deg, #0DACEE -27.72%, #08D968 134.24%);
        color: var(--color-white);
        padding: 2px;
        border-radius: 4px;
      }
    }
    > p {
      color: rgba(10, 26, 31, 0.87);
      font-size: 18px;
      line-height: 160%;
      > strong {
        background: -webkit-linear-gradient(#0DACEE, #08D968);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    > a {
      color: red;
      display: flex;
      margin-top: 5rem;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      > img.border {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  > img {
    margin-top: -7%;
  }
}