footer {
  padding: 2rem 5rem;
  background: linear-gradient(90deg, #0DACEE -27.72%, #08D968 134.24%);
  margin-top: -4rem;
  color: #FFF;

  > img {
    margin-bottom: 1rem;
  }


  > .copy {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}